env = ENV["RAILS_ENV"] || "production"

worker_processes (ENV["UNICORN_WORKERS"] || 5).to_i

working_directory "/vagrant"

listen 80

timeout 30

preload_app true

#pid "pids/unicorn.pid"

#stderr_path "log/unicorn.log"
#stdout_path "log/unicorn.log"

before_fork do |server, worker|
  # Single server rolling reaper.
  # 1. Start new master, flag old as old
  # 2. Bring up 1 new worker and request old master gently kill one worker
  # 3. Repeat until all old workers are dead
  # 4. Reap old master
  old_pid = "#{server.config[:pid]}.oldbin"
  if old_pid != server.pid
    begin
      sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
      Process.kill(sig, File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
      # someone else did our job for us
    end
  end
end

